
/* Start Header Area
=======================================================================================*/
.sticky-wrapper {
    position: absolute;
    top: 40px;
    width: 100%;
}
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.header_area .main_menu .main_box {
    background: #fff;
    margin: 0px auto 0;
    max-width: 1200px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header_area .navbar {
    background: #fff;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}
.header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header_area .navbar .navbar-toggler .icon-bar {
    color: #000;
    height: 2px;
    width: 20px;
    content: "";
    background: #000;
    display: block;
    margin: 5px;
}
.header_area .navbar .nav .nav-item {
    margin-right: 45px;
}
.is-sticky .header_area .main_menu .main_box {
    max-width: 100%;
    margin-top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #ffba00;
}
.header_area .navbar .nav .nav-item .nav-link {
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #222222;
}
.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}
.header_area .navbar .nav .nav-item.submenu {
    position: relative;
}
.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
}
.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    padding: 0px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block;
    margin-right: 0px;
}
.header_area .navbar .nav.navbar-nav.navbar-right li:first-child {
    margin-left: 35px;
}
.header_area .navbar .nav.navbar-nav.navbar-right li {
    margin-left: -5px;
    margin-right: 25px;
}
.header_area .navbar .nav.navbar-nav.navbar-right li span {
    color: #222222;
    line-height: 80px;
    font-weight: 500;
}
.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
[class^="ti-"], [class*=" ti-"] {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.header_area .navbar .nav.navbar-nav.navbar-right .search {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}
.ti-bag:before {
    content: "\e655";
}
*, ::after, ::before {
    box-sizing: border-box;
}
.lnr-magnifier:before {
    content: "\e86f";
}
.header_area .navbar .nav.navbar-nav.navbar-right .search {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}
element.style {
    display: none;
}
.is-sticky .header_area #search_input_box {
    max-width: 100%;
}
#search_input_box {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    z-index: 999;
    text-align: center;
    padding: 5px 20px;
}
#search_input_box .form-control {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}
#search_input_box .btn {
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
}
#search_input_box .lnr-cross {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 3px;
}
#search_input_box .form-control:focus {
    box-shadow: none;
    outline: none;
}
.gradient-bg-reverse, #search_input_box {
    background: -webkit-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
    background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
}
/*========================== End Header Area ===================================*/





